<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="http://elance.whatever" style="color: white;">
            About Us
          </a>
        </li>
        <li>
          <a href="https://linkedout726029143.wordpress.com/" style="color: white;">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right" style="color: white;">
      By the E-Lance Team
    </div>
  </div>
</footer>
